APP_JWT_SECRET=change-me-please-minimum-32-characters-long
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=Admin123!

DB_URL=jdbc:postgresql://localhost:5432/secure_server_db
DB_USERNAME=postgres
DB_PASSWORD=9846

SSL_ENABLED=true
SERVER_PORT=8443
SSL_KEYSTORE_PATH=file:/path/to/secure-server-keystore.p12
SSL_KEYSTORE_PASSWORD=changeit
SSL_KEYSTORE_TYPE=PKCS12
SSL_KEY_ALIAS=secure-server